

.ui-box{
    margin: 20px;
    border: 2.5px solid black;
    border-radius: 15px;
    padding: 15px;
    width:500px;
    height: 500px;
    background-color: #8ff3e0;
    background-image: linear-gradient(90deg, #90eedd 0%, #adb7e4 100%);
}

.ui-box-sub1{

    display: flex;
    flex-direction: row;
}
.ui-box-sub2{
    
    display: flex;
    flex-direction: row;
}
.ui-box-container{
    display: flex;
    flex-direction: column;
    border: 2.5px solid black;
    border-radius: 15px;
    padding: 15px;
    width: 98%;
    background-color: #FFFDD0;
    justify-content: space-evenly;
    
}

#photo{
    margin-left: 150px;
    margin-right: 150px;
    
    border-radius: 50px;
}
#photo-text{
    margin-left: 150px;
    margin-right: 150px;
}
