

body {
    font-family: Arial, sans-serif;
    background-color: #FFFDD0;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-div,
.right-div {
    flex: 1;
    padding: 20px;
    background-color: transparent;
}

.left-div {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right-div {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

input[type="text"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

.center-btn {
    width: 20%;
    margin: 20px auto;
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.center-btn:hover {
    background-color: #0471e6;
}

.bottom-div {
    flex-basis: 100%;
    height: 20px;
}
/* Add this CSS to your existing CSS file */
input[type="datetime-local"] {
    padding: 8px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    width: calc(100% - 20px);
    margin-bottom: 10px; /* Add some bottom margin for spacing */
}
